Repository python-geeks/Automation-scripts, pull requests merged in 2020-10, with the labels that each got.

#3 Added autotyper
  autotyper/README.md
  autotyper/autotyper.py
  autotyper/requirements.txt
Labels: hacktoberfest

#16 Added a pdf to audiobook convertor.
  AudioBook/PDF_TO_AUDIO.py
  AudioBook/README.txt
Labels: hacktoberfest, hacktoberfest-accepted

#15 Added ScreenShoter
  Screenshoter/README.md
  Screenshoter/reqirements.txt
  Screenshoter/screenshooter.py
Labels: hacktoberfest, hacktoberfest-accepted

#14 Added a basic script for Youtube automation
  Youtube_Sub/README.md
  Youtube_Sub/requirements.txt
  Youtube_Sub/youtube.py
Labels: hacktoberfest-accepted

#24 Addhtmltopdf
  .DS_Store
  html_to_pdf/README.md
  html_to_pdf/htmtopdf.py
  html_to_pdf/requirements.txt
Labels: hacktoberfest-accepted

#41 PR - Add Autoclicker
  autoclicker/README.md
  autoclicker/autoclicker.py
  autoclicker/requirements.txt
Labels: hacktoberfest-accepted

#40 Add URL shortener Script
  URLshortener/README.md
  URLshortener/url.py
Labels: hacktoberfest-accepted

#45 PR - Bulk Renamer
  bulk_renamer/README.md
  bulk_renamer/bulk_renamer.py
Labels: hacktoberfest-accepted

#195 Delete docs: for testing purpose
  tmp.txt
Labels: automerge

#247 Autotyper testing
  auto_typer/README.md
  auto_typer/auto_typer_eg-1.gif
  auto_typer/auto_typer_eg-2.gif
  auto_typer/autotyper.py
Labels: enhancement, tested

#267 Added subtitle creator
  subtitle_creator/README.md
  subtitle_creator/requirements.txt
  subtitle_creator/subtitle_creator.py
Labels: hacktoberfest-accepted

#299 Delete Youtube Subscriber (youtube_subdownloader)
  youtube_subdownloader/README.md
  youtube_subdownloader/makefile
  youtube_subdownloader/requirements.txt
  youtube_subdownloader/youtube.py
Labels: bug

#302 Google Meet Joiner
  google-meet-joiner/README.md
  google-meet-joiner/main.py
  google-meet-joiner/requirements.txt
Labels: hacktoberfest-accepted

#310 WaterMark maker
  pdf_watermarkadder/README.md
  pdf_watermarkadder/images/img1.png
  pdf_watermarkadder/images/img2.png
  pdf_watermarkadder/main.py
  pdf_watermarkadder/requirements.txt
  watermark-maker/README.md
  watermark-maker/images/img1.png
  watermark-maker/images/img2.png
  watermark-maker/main.py
  watermark-maker/requirements.txt
Labels: hacktoberfest-accepted
